*{
    margin:0;
}

.Square{
    background-color: antiquewhite;
    width:33%;
    height:75%;
    position:absolute;
}

.Inner-Square{
    background-color: beige;
    width:60%;
    height:60%;
    position:inherit;
    right:-20%;
}

.myTitle{
position: inherit;
    top:40%;
    right:0.2%}


.myPhoto{
    width:30%;
    height:30%;
    z-index: 1;
    position: absolute;
    right:0;
    top:10%;
    border-radius: 50%;
}